.sectionContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-l);

  align-items: center;
  margin-bottom: var(--spacing-l);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sectionContainer .left {
  .textContainer {
    grid-column: 2/3;
  }
}
