.portfolioCouple {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 1.5rem;
  align-items: center;
}

.portfolioCouple .textContent {
  grid-column: 5 / 13;
  grid-row: 1;
}

.portfolioCouple .coupleImage {
  grid-column: 1 / 5;
  grid-row: 1;
}

.portfolioCouple .textContent > * {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.portfolioCouple .serviceImage {
  grid-row: 2 / 3;
  grid-column: span 3;
}

/* Services Icons */

.portfolioCouple .services {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 0.2rem;
}

.portfolioCouple .serviceImage img {
  height: 300px;
}

.portfolioCouple .coupleImage img {
  height: 350px;
}

.portfolioCouple button {
  font-size: large;
}

@media (max-width: 875px) {
  .portfolioCouple {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolioCouple .textContent {
    grid-column: span 2;
    grid-row: 2;
  }

  .portfolioCouple .coupleImage {
    grid-column: span 2;
    grid-row: 1;
  }

  .portfolioCouple .serviceImage {
    grid-row: auto;
    grid-column: span 1;
  }
}
