.hamburgerMenu {
  box-sizing: border-box;

  --x-width: calc(var(--hamburger-height) * 1.414);
  --bar-width: 24px;
  --bar-height: 3px;
  --bar-gap: 5px;
  --hamburger-height: calc((var(--bar-height) * 3) + (var(--bar-gap) * 2));

  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  z-index: 2;
  cursor: pointer;

  position: absolute;
  right: 0px;
  top: 21px;
  width: auto;
}

.hamburgerMenu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburgerMenu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--primary-100);
  border-radius: 2px;
  transform-origin: left center;
  transition: opacity var(--nav-animation-timing),
    width var(--nav-animation-timing), rotate var(--nav-animation-timing),
    translate var(--nav-animation-timing);
}

.hamburgerMenu input {
  border: 0px;
  padding: 0px;
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburgerMenu input:checked {
  width: 0%;
  opacity: 0%;
}

@media screen and (min-width: 1001px) {
  .hamburgerMenu {
    display: none;
  }
}
