.hero {
  margin: var(--spacing-m) 0px;
  max-height: 50vh;
}

.employeeGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-s);
}

.employeeGrid img {
  height: 300px;
}
