/* Instantiate Font Files */
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Oooh Baby';
  src: url('./fonts/OoohBaby-Regular.ttf');
  font-weight: 400;
}

/* Set Up Variables to be Used Across Application */
:root {
  --primary-950: #0c0c0e;
  --primary-900: #1a1a1e;
  --primary-800: #323239;
  --primary-700: #4c4c57;
  --primary-600: #666675;
  --primary-500: #818192;
  --primary-400: #9d9daa;
  --primary-300: #bbbbc4;
  --primary-200: #d1d1d7;
  --primary-100: #e9e9ec;
  --primary-50: #f4f4f6;

  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 36px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-xxl: 92px;
}

/* Default Text Setup */
h1,
h2,
h3,
h4 {
  font-family: 'Lora';
  font-weight: 525;
  width: clamp(30ch, 100%, 60ch);
  color: var(--primary-900);
}

p,
blockquote,
a {
  font-family: 'Montserrat';
  font-weight: 400;
  width: clamp(30ch, 100%, 75ch);
  color: var(--primary-900);
}

li {
  font-family: 'Montserrat';
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Removes Default Spacing */
* {
  margin: 0px;
  padding: 0px;
}

.bg-primary {
  background-color: var(--primary-800);
}

/* Grid System for Page Layout */
.content-grid {
  --padding-inline: 2rem;
  --content-max-width: 120ch;
  --breakout-max-width: 140ch;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}

video {
  width: 100%;
  max-height: 60vh;
}

.primary-button {
  background-color: var(--primary-900);
  color: var(--primary-100);
  padding: 8px 16px;
  font-weight: 500;
}

.primary-button:hover,
.primary-button:active {
  background-color: var(--primary-500);
  color: var(--primary-900);
  font-weight: 500;
}
