input {
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: 0;
  outline: 1px solid var(--primary-200);
}

input:user-valid {
  outline-color: var(--green);
}

input:user-invalid {
  outline-color: var(--red);
}

/* Radio Buttons */

.radioItem {
  display: block;
  margin-bottom: 0.25rem;
}

.radioItem input {
  margin-inline: 0.5rem;
}

.radioItem input::before {
  content: '';
  width: 120%;
  height: 120%;
  background-color: var(--primary-500);
}

/* Fieldsets */

fieldset {
  border: none;
}

fieldset legend {
  display: none;
}
