.image-text-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  align-items: center;
}

.image-text-section h1 {
  text-wrap: pretty;
  line-height: 140%;
}

.image-text-section.logo-section {
  max-width: 700px;
  justify-self: center;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.image-text-section.logo-section .text-container {
  grid-column: 2/5;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  justify-self: center;
}

.image-text-section > .image-container > img {
  max-height: 400px;
  max-width: 400px;
}

@media screen and (min-width: 875px) {
  .image-text-section {
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-l);
  }

  .image-container {
    margin-bottom: 0px;
  }

  .image-text-section.right {
    grid-template-columns: 2fr 1fr;

    .image-container {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .text-container {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}
