.sectionContainer {
  display: grid;
  align-items: center;

  gap: var(--spacing-l);
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--spacing-xxl);
}

.testimonialContainer > p {
  margin-bottom: var(--spacing-m);
}

.testimonialContainer > h3 {
  margin-bottom: var(--spacing-xs);
}

.servicesContainer {
  display: grid;
  align-items: center;

  gap: var(--spacing-l);
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: var(--spacing-xxl);
}

.sectionContainer img,
.servicesContainer img {
  width: clamp(100px, 100%, 350px);
  height: 400px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  grid-column: 2 / 4;
}

.rightImage > .textContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.servicesContainer > .textContainer {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.polaroidContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  max-width: 100%;
  align-content: center;
  margin-bottom: var(--spacing-xl);
}

.polaroidContainer > :nth-child(2) {
  position: absolute;
  transform: translateX(75%);
  z-index: 1;
}

.polaroidContainer > :nth-child(3) {
  position: absolute;
  transform: translateX(150%);
  z-index: 2;
}

.polaroidContainer > :nth-child(4) {
  position: absolute;
  transform: translateX(225%);
  z-index: 1;
}

.polaroidContainer > :nth-child(5) {
  position: absolute;
  transform: translateX(300%);
  z-index: 0;
}

.decorativeLine {
  height: 50%;
  border-bottom: 1px solid var(--primary-950);
}

.decorativeText {
  display: grid;
  gap: 0.5rem;
  max-width: 350px;
  grid-template-columns: 24px auto 1fr;
}

.decorativeText p {
  font-family: 'Oooh Baby';
  font-size: 1.5rem;
}

.heroVideo {
  object-fit: cover;
  width: 100%;
  height: auto;

  background: var(--primary-800-opacity-40);
  background-size: cover;
}

.hero {
  margin: var(--spacing-m) 0px;
  position: relative;
}

.hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  background-color: var(--primary-800-opacity-40);
}

.hero svg {
  position: absolute;
  top: calc(50% - (175px / 2));
  left: calc(50% - (175px / 2));
  stroke: var(--primary-50);
}

@media screen and (max-width: 875px) {
  .sectionContainer,
  .servicesContainer {
    grid-template-columns: 1fr;
  }

  .textContainer {
    grid-column: auto;
  }

  .rightImage > .textContainer {
    grid-column: auto;
    grid-row: auto;
  }

  .servicesContainer > .textContainer {
    grid-column: auto;
    grid-row: auto;
  }

  .imageContainer {
    justify-self: center;
  }

  .heroVideo {
    height: 60vh;
  }
}
