.navigation li {
  list-style: none;
  text-align: center;

  /* font-family: 'Montserrat'; */
  font-size: 1.25rem;
  color: var(--primary-50);
}

.navigation {
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto repeat(3, 1fr);
}

.navigation > li:nth-child(1) {
  grid-column-start: 2;
}

.navigation li:nth-child(3) {
  font-family: 'Lora';
  font-size: 1.5rem;
}

.navigation,
.navigation li {
  align-content: center;
}
